TeamBook.com/src/conf/xml-resources/web-service-references/PentolineService/wsdl/pentoline.cloudapp.net/PenToLineClient/PentolineService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="PentolineService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://pentoline.cloudapp.net:80/PenToLineClient/PentolineService?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="kirim">
<part name="parameters" element="tns:kirim" />
</message>
<message name="kirimResponse">
<part name="parameters" element="tns:kirimResponse" />
</message>
<message name="cekStatus">
<part name="parameters" element="tns:cekStatus" />
</message>
<message name="cekStatusResponse">
<part name="parameters" element="tns:cekStatusResponse" />
</message>
<message name="kirimNotSaved">
<part name="parameters" element="tns:kirimNotSaved" />
</message>
<message name="kirimNotSavedResponse">
<part name="parameters" element="tns:kirimNotSavedResponse" />
</message>
<portType name="PentolineService">
<operation name="hello">
<input wsam:Action="http://service/PentolineService/helloRequest" message="tns:hello" />
<output wsam:Action="http://service/PentolineService/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="kirim">
<input wsam:Action="http://service/PentolineService/kirimRequest" message="tns:kirim" />
<output wsam:Action="http://service/PentolineService/kirimResponse" message="tns:kirimResponse" />
</operation>
<operation name="cekStatus">
<input wsam:Action="http://service/PentolineService/cekStatusRequest" message="tns:cekStatus" />
<output wsam:Action="http://service/PentolineService/cekStatusResponse" message="tns:cekStatusResponse" />
</operation>
<operation name="kirimNotSaved">
<input wsam:Action="http://service/PentolineService/kirimNotSavedRequest" message="tns:kirimNotSaved" />
<output wsam:Action="http://service/PentolineService/kirimNotSavedResponse" message="tns:kirimNotSavedResponse" />
</operation>
</portType>
<binding name="PentolineServicePortBinding" type="tns:PentolineService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="kirim">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cekStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="kirimNotSaved">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PentolineService">
<port name="PentolineServicePort" binding="tns:PentolineServicePortBinding">
<soap:address location="http://pentoline.cloudapp.net:80/PenToLineClient/PentolineService" />
</port>
</service>
</definitions>